<% if @result %>
  <% if @result.count == 0 %>
    <div>Nothing</div>
  <% else %>
    <% @result.each do |commodity| %>
      <div class="row-fluid">
	<div class="well">
	  <div class="span4">
	    <p><%= link_to("#{commodity.name}", commodity) %></p>
	    <p>Number:<%= commodity.num %></p>
	    <p>Descption:<%= commodity.desc %></p>
	  </div>
	  <div class="span2">
	    <%= image_tag(commodity.photo.thumb.url) if commodity.photo? %>
	  </div>
	</div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div>nothing</div>
<% end %>

