<% if @result %>
  <% if @result.count == 0 %>
    <div>Nothing</div>
  <% else %>
    <% @result.each do |commodity| %>
      <div class="row-fluid">
	<div class="well">
	  <div>
	    <%= link_to("#{commodity.name}", commodity) %><br />
	    Number:<%= commodity.num %><br />
	    Descption:<%= commodity.desc %>
	  </div>
	  <div>
	    <%= image_tag(commodity.photo.thumb.url) if commodity.photo? %>
	  </div>
	</div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div>nothing</div>
<% end %>
