<h2>Search</h2>

<p>
<%= form_tag("search", :method => :get) do %>
  <%= select_tag "school", options_from_collection_for_select(@schools, :id, :name) %>
  <%= search_field_tag "keyword" %>
  <%= submit_tag "search" %>
<% end %>
<div id="result_form"></div>
</p>

