<p>Mail:<%= @commodity.user.profile.mail %></p>
<p>Tel:<%= @commodity.user.profile.tel %></p>
<div class="alert  alert-success">
  OK!出品者に連絡してくだい
</div>
<p>
<%= link_to 'My orders', orders_path(:mode => "new"), :class => "btn" %>
</p>
