<%= form_tag(deal_order_url(order), :id => :dealorder, :remote => true) do %>
  <div class="field">
    <%= hidden_field_tag "order[state]", true %>
  </div>
  <div class="field">
    <%= hidden_field_tag :commodity_id, @commodity.id, :id => "commodity" %>
  </div>
  <div class="actions">
    <%= submit_tag :Sell, :class => "btn btn-primary" %>
  </div>
<% end %>
