<p id="notice"><%= notice %></p>

<p>
  <b>Commodity:</b>
  <%= @popular.commodity_id %>
</p>


<%= link_to 'Edit', edit_admins_popular_path(@popular) %> |
<%= link_to 'Back', admins_populars_path %>
