<h2>these people want to buy</h2>
<p>
<% @commodity.orders.each do |order| %>
  <% order.state = true %>
  <tr>
    <th><%= order.user.email %></th>
    <th><%= render 'orders/form', :order => order %></th>
    <th><div id="state"></div></th>
    <br />
  </tr>
<% end %>
</p>
