<h2>these people want to buy</h2>
<p>
<% @commodity.orders.each do |order| %>
  <p>
    <%= order.user.email %>
    <% if !order.state %>
      <div id="state"><%= render 'orders/dealform', :order => order %></div>
    <% else %>
      <div id="state">ok!</div>
    <% end %>
  </p>
<% end %>
</p>
