<div class="alert alert-info">
  These people want to buy
</div>
<p>
<% @commodity.orders.each do |order| %>
  <p>
    <%= order.user.email %>
    <% if !order.state %>
      <div id="state"><%= render 'orders/dealform', :order => order %></div>
    <% else %>
      <div id="state">ok!</div>
    <% end %>
  </p>
<% end %>
</p>
