div .goods-left {
	float: left;
	width: 75%;
	word-wrap: break-word;
	overflow: hidden;
	padding-right: 10px;
}

div .goods-right {
	float: left;
	width: 20%;
}

div .clear {
	clear: both;
}

div .search_result {
}

.search_result a:link {
    COLOR: #0000FF;
}
.search_result a:visited {
    COLOR: #800080;
}
.search_result a:hover {
    COLOR: #FF0000;
}
.search_result a:active {
    COLOR: #00FF00;
}

