@charset "utf-8";

/* -------------------------------------------------------------

[1] レイアウトに関する指定
[2] ヘッダーブロック内に関する指定
[3] コンテンツブロック内に関する指定
[4] サイドバーブロック内に関する指定
[5] フッターブロック内に関する指定
[6] CSSデザインサンプルリンク指定

----------------------------------------------------------------
CSSデザインサンプ [ URL ] http://www.css-designsample.com
------------------------------------------------------------- */


/* 一括で全ての要素の余白をゼロに指定 */
* {
  margin: 0;
  padding: 0;
}

/* 全体的なリンク */

a:link,
a:visited,
a:hover,
a:active { text-decoration: underline; }

a:link { color: #00f; }

a:visited { color: #90f; }

a:hover { color: #f00; }

a:active { color: #f00; }

/* -------------------------------------------------------------
   [1] レイアウトに関する指定 */

body {
  font-size: 85%;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding: 0;
  margin: 0;
  background: url(bg-body.jpg) repeat-y 50% 0;
}

#wrapper {
  text-align: left;
  width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  width: 100%;
  height: 220px;
  margin-bottom: 20px;
  position: relative;
  background: url(bg-header.jpg) no-repeat 230px 100px;
}

#contents {
  text-align: left;
  width: 530px;
  float: right;
}

#sidebar {
  width: 200px;
  float: left;
}

#footer { padding: 20px 0 5px; }

/* -------------------------------------------------------------
   [2] ヘッダーブロック内に関する指定 */

/* キーワード */
h1 {
  font-size: 100%;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 0;
}

/* 企業名｜ショップ名｜タイトル */
.logo {
  font-size: 160%;
  padding-left: 20px;
  position: absolute;
  top: 30px;
  left: 0;
  background: url(bg-title.gif) no-repeat 0 50%;
}

.logo a {
  text-decoration: none;
  color: #000;
}

.logo a:hover {
  text-decoration: none;
  color: #f00;
}

/* ページの概要 */
.description {
  position: absolute;
  top: 60px;
  left: 0;
}

/* ナビゲーション */
.header-navi {
  list-style-type: none;
  position: absolute;
  top: 10px;
  right: 0;
}

.header-navi li {
  display: inline;
  background: url(listmark.gif) no-repeat 0 50%;
}

.header-navi a {
  text-decoration: none;
  padding: 0 15px;
  color: #000;
}

.header-navi a:hover {
  text-decoration: underline;
  color: #f00;
}

/* -------------------------------------------------------------
   [3] コンテンツブロック内に関する指定 */

/* 見出し */
h2,h3,h4,h5,h6 {
  font-size: 120%;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 5px 0 5px 25px;
  background: url(bg-h.gif) no-repeat 0 50%;
  color: #906;
}

h3,h4,h5,h6 { margin-top: 3em; }

/* 文字 */
#contents p {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

/* -------------------------------------------------------------
   [4] サイドバーブロック内に関する指定 */

/* サイドバータイトル */
.side-title {
  margin-bottom: 0;
  padding-bottom: 1px;
  border-bottom: 1px solid #90f;
  color: #90f;
}

/* サイドバーメニュー */
.localnavi {
  list-style-type: none;
  margin-bottom: 2em;
}

.localnavi li { display: inline; }

.localnavi li a {
  text-decoration: none;
  width: 200px;
  padding: 5px 0;
  display: block;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.localnavi li a:hover {
  text-decoration: none;
  border-bottom: 1px solid #f00;
  color: #f00;
}

/* -------------------------------------------------------------
   [5] フッターブロック内に関する指定 */

#footer p { text-align: center; }

/* -------------------------------------------------------------
   [6] CSSデザインサンプルリンク指定 */

#cds {
  font-size: 80%;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  margin: 0;
  clear: both;
}

#cds,
#cds a,
#cds a:hover {
  text-decoration: none;
  color: #ccc;
}
